<div class="container">
  <footer class="footer">
    <small class="color-footer">
      Copyright &copy; <a href="https://alpha-blogivan.heroku.com">Ruby project</a>
      by <a href="https://www.twitter.com/ivan_garcia97">Ivan Garcia</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>